body {
  background-color: #fceaea;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
}

select {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.7);
}

.container {
  background-color: #f5d9d9;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 15px 13px 28px -8px rgba(0, 0, 0, 0.2);
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: rgba(0, 0, 0, 0.2) dashed;
}

.city:last-child {
  border-bottom: none;
}

h2 {
  font-size: 30px;
  margin: 0;
}

.date {
  color: rgba(0, 0, 0, 0.8);
}

.time {
  font-size: 44px;
  font-weight: bolder;
  padding: 5px 0;
  vertical-align: middle;
}

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

a {
  text-decoration: none;
  color: #bf8888;
}
